.fundoEscuro {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixaModal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}

.botaoFechar {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}