ACCESS_SECRET=B5iJRgykp5KMiEeLH8FMHkITWp4OPuYUwoWP7H8qgxau0tPRt2h9cHmq8vpoDd2s
REFRESH_SECRET=6ZSyFgO1gkojZYro1GyHCvVehVZceRwhhEUp8TFXskTAIZTVTL5QmbRTHBt2rVWB
PORT=8081


DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=senai
DATABASE_PORT=3306
DATABASE_NAME=token_db

GEMINI_API_KEY="chave api gemini"